.ct-card {
  width: 100%;
  min-width: 3rem;
  margin: 0.125rem;
  background-color: $color-white;
  border: 1px solid $color-light-grey;
  border-radius: 8px;
  box-shadow: 0 0.5rem 1rem 0 rgba(84, 84, 84, 0.29);
  position: relative;
  height: fit-content;

  &__image {
    @include aspect-ratio(21rem, 12rem);
    background-size: cover;
    background-position: center;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
  }

  &__body {
    padding: 1.5rem;
  }

  &__heading {
    display: flex;
  }

  &__star-icon {
    margin-left: auto;
    align-items: center;
    width: fit-content;
    height: fit-content;

    svg {
      height: 1rem;

      path {
        fill: $color-yellow;
      }
    }
  }
}
