.ct-category-accordion {
  &__options-container {
    padding-right: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    & > * {
      width: 7rem;
    }
  }

  &__delete-button {
    @include button-theme(rgba($color-red, 0.8), $color-white, $color-red);
    width: fit-content;
    margin-right: 1rem;
    margin-bottom: 1.5rem;
    padding: 0 1rem;

    &--sm {
      display: block;
      width: 100%;
      margin: 0;
      margin-top: 1.5rem;
      height: 2rem;
    }
  }

  &__content-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    & > div {
      margin-right: 1rem;
      margin-bottom: 1rem;
      width: calc(25% - 1.125rem);

      @media #{$breakpoint-tablet} {
        width: calc(33.33% - 1.125rem);
      }

      @media #{$breakpoint-mobile} {
        width: calc(50% - 1.125rem);
      }

      @media #{$breakpoint-mobile-sm} {
        width: calc(100% - 1.125rem);
      }
    }
  }
}
