.ct-auth {
  max-width: calc($size-max-contaioner * 0.6);
  margin: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__logo {
    margin-bottom: 1.5rem;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
      to left,
      $color-purple,
      $color-blue,
      $color-green,
      $color-yellow
    );
    -webkit-background-clip: text;
    color: transparent;
  }

  &__heading {
    border-top: 1px solid $color-light-grey;
    padding-top: 3rem;
    margin-bottom: 3rem;
  }

  &__footer {
    padding: 1.5rem 0;
    margin-top: 3rem;
    border-top: 1px solid $color-light-grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__link {
    text-decoration: underline;
    color: $color-blue;

    &:hover,
    &:focus {
      color: $color-purple;
      cursor: pointer;
    }

    &:focus {
      outline-color: $color-purple;
      outline-offset: 0.125rem;
    }
  }
}
