.ct-accordion {
  &__header {
    display: flex;
    align-items: baseline;
    margin: 1rem 0;
    padding: 0 1.5rem;
    border-left: 2px solid $color-light-grey;
    transition: border 0.15s linear;

    &--expanded {
      border-left-width: 4px;
    }
  }

  &__header * {
    margin: auto 0;
  }

  &__action {
    padding-left: 1rem;
    margin-left: auto;
    fill: $color-mine;
  }

  &__content {
    overflow: hidden;
    display: block;
    height: auto;
    padding: 0 1.5rem;
    transition: max-height 0.3s;

    &--expanded {
      animation: 0.3s delay-overflow;
      border-left-width: 40px;
      padding-bottom: 2rem;
    }
  }
}
