.ct-create-item {
  &__heading {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0 1rem;
  }

  &__heading-switch {
    margin-left: auto;
  }

  &__wrapper {
    display: flex;
    max-width: 60%;
    margin: 0 auto;
    padding-top: 2rem;
    flex-direction: column;

    @media #{$breakpoint-tablet} {
      max-width: 100%;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  &__image-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;

    input[type='file'] {
      display: none;
    }
  }
}
