.ct-dropdown {
  height: 3.375rem;
  position: relative;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;

  &__button {
    width: 100%;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $color-white;
    border: 2px solid $color-light-grey;

    &:hover,
    &:focus {
      border-color: $color-green;
    }
  }

  &__button-text-container {
    text-align: start;
  }

  &__list {
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 0.625rem 2.6875rem 0 rgba(84, 84, 84, 0.29);
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    z-index: 10;
  }

  &__list--hidden {
    display: none;
  }

  &__list-item {
    padding: 0.75rem 1rem;
    cursor: pointer;

    &--selected,
    &:focus,
    &:hover {
      color: $color-blue;
    }
  }
}
