@font-face {
  font-family: Poppins;
  src: url('../libs/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  src: url('../libs/fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  src: url('../libs/fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  src: url('../libs/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  src: url('../libs/fonts/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Oscine;
  src: url('../libs/fonts/Oscine-Bold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Oscine;
  src: url('../libs/fonts/Oscine-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Oscine;
  src: url('../libs/fonts/Oscine-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
