html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $font-family-primary;
}

button[type='submit'],
input[type='text'],
input[type='email'],
input[type='password'] {
  padding: 0 1rem;
}

button,
input[type='text'],
input[type='email'],
input[type='password'],
input[type='color'],
input[type='submit'] {
  width: 100%;
  height: 3rem;
  border-radius: 8px;
}

button,
input[type='color'],
input[type='submit'] {
  cursor: pointer;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='color'] {
  background-color: $color-white;
  border: 2px solid $color-light-grey;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  outline-color: $color-green;

  &:hover {
    border-color: $color-green;
  }
}
