$size-max-contaioner: 66rem;

$font-size-base: 16px;

$font-family-primary: 'Poppins', Arial, sans-serif;
$font-family-secondary: 'Oscine', Arial, sans-serif;

// Colors
$color-black: #000000;
$color-blue-hover: #0e66d2;
$color-blue: #1774e5;
$color-green: #8dc63f;
$color-grey: #767676;
$color-light-grey: #cccccc;
$color-mine: #222222;
$color-purple: #9013fe;
$color-white: #ffffff;
$color-yellow: #ffba00;
$color-red: #e02021;
$color-table-header-grey-light: #d0d0d0;

// Breakpoints
$mobile-lg: 450px;
$tablet-min: 768px;
$desktop-min: 1024px;
$mobile-max: ($tablet-min - 1);
$tablet-max: ($desktop-min - 1);
$tablet-lg: 881px;
$desktop-lg: 1200px;
$desktop-xl: 1920px;

$small-height-devices: 'screen and (max-height: 568px) and (max-width: #{$mobile-max})';
$breakpoint-mobile-sm: 'screen and (max-width: #{$mobile-lg})';
$breakpoint-mobile: 'screen and (max-width: #{$mobile-max})';
$breakpoint-mobile-lg: 'screen and (max-width: #{$mobile-lg})';
$breakpoint-tablet: 'screen and (max-width: #{$tablet-max})';
$breakpoint-tablet-and-desktop: 'screen and (min-width: #{$tablet-min})';
$breakpoint-desktop: 'screen and (min-width: #{$desktop-min})';
$breakpoint-tablet-only: 'screen and (min-width: #{$tablet-min}) and (max-width: #{$tablet-max})';
$breakpoint-tablet-lg: 'screen and (max-width: #{$tablet-lg})';
$breakpoint-desktop-lg: 'screen and (min-width: #{$desktop-lg})';
$breakpoint-desktop-xl: 'screen and (min-width: #{$desktop-xl})';
$breakpoint-2x: 'screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 320dpi)';
$breakpoint-3x: 'screen and (-webkit-min-device-pixel-ratio: 3), (min-resolution: 480dpi)';
$breakpoint-ie: 'all and (-ms-high-contrast: none), (-ms-high-contrast: active)';
$breakpoint-ie-mobile: 'all and (-ms-high-contrast: active), (-ms-high-contrast: none) and (max-width: #{$mobile-max})';
$bp-mobile-lg-to-tablet: 'screen and (min-width: #{$mobile-lg}) and (max-width: #{$tablet-min})';
