.ct-text {
  &--alignment-center {
    text-align: center;
  }

  &--alignment-right {
    text-align: right;
  }

  &--size-default {
    @include type-text-default();
  }

  &--size-small {
    @include type-text-small();
  }

  &--type-bullet {
    @include type-bullet-text();
  }

  &--type-paragraph {
    @include type-paragraph-text();
  }

  &--type-notification {
    @include type-notification-text();
  }

  &--type-bold {
    font-weight: 600;
  }

  &--color-grey {
    color: $color-grey;
  }

  &--color-mine {
    color: $color-mine;
  }
 }
