.ct-loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 2px solid rgba($color-blue, 0.2);
  border-radius: 50%;
  border-top-color: $color-blue;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
  left: calc(50% - 15px);
  top: calc(50% - 15px);
  position: fixed;
  z-index: 1;
}
