.ct-file-upload {
  background-color: $color-white;
  border-radius: 8px;
  border: 2px solid $color-light-grey;
  height: 3rem;
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
  outline-color: $color-green;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;

  &__button {
    width: 5rem;
    position: absolute;
    top: -0.125rem;
    left: -0.125rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &__filename {
    margin-left: 5.5rem;
  }

  &__input {
    display: none;
  }
}
