.ct-title {
  &--style-h1 {
    @include type-heading-1();
  }

  &--style-h2 {
    @include type-heading-2();
  }

  &--style-h3 {
    @include type-heading-3();
  }

  &--style-h4 {
    @include type-heading-4();
  }

  &--style-h5 {
    @include type-heading-5();
  }

  &--style-heading {
    @include type-heading-base();
    font-size: 1rem;
    line-height: 4rem;
    font-family: $font-family-secondary;
  }

  &--style-subheading {
    @include type-subheading();
  }

  &--alignment-left {
    text-align: left;
  }

  &--alignment-center {
    text-align: center;
  }

  &--alignment-right {
    text-align: right;
  }

  &--remove-uppercase {
    text-transform: none;
  }
}
