.ct-top-nav {
  display: flex;
  align-items: center;
  height: 4rem;
  background-color: rgba($color-table-header-grey-light, 0.5);
  color: $color-mine;
  padding: 0 2rem;
  box-shadow: 0 0 1rem 0 rgba(84, 84, 84, 0.29);

  @media #{$breakpoint-mobile} {
    padding: 0.5rem 0;
    height: 10rem;
    flex-direction: column;
  }

  &__item {
    @media #{$breakpoint-mobile} {
      display: flex;
      align-items: center;
      flex: 1;
    }

    &--left {
      flex: 0.5;
    }

    &--center {
      flex: 2;

      @media #{$breakpoint-mobile} {
        width: 100%;
        justify-content: space-around;
        margin: 1rem 0;
      }

      & > .ct-top-nav__link {
        margin: 0 1rem;

        @media #{$breakpoint-mobile} {
          margin: 0;
        }
      }
    }

    &--right {
      flex: 2;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      & > button {
        width: fit-content;
        height: fit-content;
      }
    }
  }

  &__link {
    text-decoration: underline;
    color: $color-blue;

    &:hover,
    &:focus {
      color: $color-purple;
      cursor: pointer;
    }

    &:focus {
      outline-color: $color-purple;
      outline-offset: 0.125rem;
    }
  }

  &__user-email {
    margin-right: 0.5rem;
  }

  &__logo {
    font-size: 2rem;
    font-weight: 600;
    -webkit-background-clip: text;
    background-image: linear-gradient(
      to left,
      $color-purple,
      $color-blue,
      $color-green,
      $color-yellow
    );
    color: transparent;
  }
}
