#root {
  min-height: 100vh;
}
.ct-main-layout {
  margin-top: 2rem;

  &--container {
    margin: 0 2rem;
    max-width: $size-max-contaioner;

    @media #{$breakpoint-mobile} {
      margin: 0 1rem;
    }

    @media #{$breakpoint-desktop} {
      margin: 0 auto;
    }
  }

  &__footer {
    height: 3rem;
    width: 100%;
    text-align: center;
    margin-top: 5rem;
  }
}
