.ct-icon {
  display: inline;

  &__svg {
    pointer-events: none;
  }

  &--clickable {
    &:focus {
      outline: none;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: -0.5rem;
        left: -0.5rem;
        border: 1px dashed $color-purple;
        pointer-events: none;
        z-index: 2;
      }
    }
  }
}

button.ct-icon {
  cursor: pointer;
}
