@mixin type-body-base() {
  font-family: $font-family-primary;
  font-weight: normal;
  font-style: normal;
  font-size: 1rem;
}

@mixin type-heading-base() {
  font-family: $font-family-primary;
  font-style: normal;
  font-weight: 600;
  color: $color-mine;
  letter-spacing: 0;
}

@mixin type-heading-1 {
  @include type-heading-base();
  font-size: 3.5rem;
  font-family: $font-family-secondary;
  line-height: 4rem;

  @media #{$breakpoint-mobile} {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

@mixin type-heading-2 {
  @include type-heading-base();
  font-size: 2rem;
  font-family: $font-family-secondary;
  line-height: 3rem;

  @media #{$breakpoint-mobile} {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

@mixin type-heading-3 {
  @include type-heading-base();
  font-size: 1.25rem;
  line-height: 2rem;

  @media #{$breakpoint-mobile} {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@mixin type-heading-4 {
  @include type-heading-base();
  font-size: 1rem;
  line-height: 1.625rem;
}

@mixin type-heading-5 {
  @include type-heading-base();
  font-size: 1.125rem;
  line-height: 1.625rem;
}

@mixin type-subheading {
  @include type-heading-4();
  text-transform: uppercase;
  color: $color-grey;
}

@mixin type-statistics {
  @include type-heading-base();
  font-size: 2rem;
  line-height: 3rem;
  font-family: $font-family-secondary;

  @media #{$breakpoint-mobile} {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}

@mixin type-text-default {
  @include type-body-base();
}

@mixin type-text-medium {
  @include type-body-base();
  font-size: 0.875rem;
  line-height: 1.625rem;
}

@mixin type-text-small {
  @include type-body-base();
  font-size: 0.75rem;
  line-height: 1.375rem;
}

@mixin type-bullet-text {
  @include type-text-small();

  @media #{$breakpoint-mobile} {
    font-size: 0.6875rem;
    line-height: 13rem;
  }
}

@mixin type-paragraph-text {
  line-height: 1.625rem;

  @media #{$breakpoint-mobile} {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

@mixin type-card-text {
  @include type-body-base();
  line-height: 1.625rem;

  @media #{$breakpoint-mobile} {
    font-size: 0.75rem;
    line-height: 13rem;
  }
}

@mixin type-link-text {
  outline: none;
  position: relative;
  line-height: 1.625rem;

  &:hover {
    text-decoration: underline;
  }
}

@mixin type-button {
  font-weight: 500;
  line-height: 1.625rem;
}

@mixin type-notification-text {
  @include type-body-base();
  font-size: 0.875rem;
  line-height: 1.25rem;
}

@mixin font-size($size) {
  font-size: toRem($size);
}
