@mixin visually-hidden() {
  border: 0;
  clip: rect(0 0 0 0);
  height: 0.06rem;
  margin: 0.06rem;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 0.06rem;

  &:active,
  &:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
  }

  a:focus,
  a:hover {
    position: static;
    width: auto;
    height: auto;
  }
}

@mixin button-theme($backgroundColor, $textColor, $borderColor) {
  background-color: $backgroundColor;
  color: $textColor;
  fill: $textColor;
  border: 2px solid $borderColor;
}

@mixin aspect-ratio($width, $height) {
  position: relative;

  &:before {
    content: '';
    display: block;
    width: 100%;
    padding-top: calc($height / $width) * 100%;
  }
}

.sr-only {
  @include visually-hidden();
}

button.ct-button,
button[type='submit'],
input[type='submit'] {
  @include button-theme($color-blue, $color-white, $color-blue-hover);
  outline: none;

  &:hover {
    @include button-theme($color-blue-hover, $color-white, $color-blue-hover);
  }

  &:focus {
    @include button-theme($color-white, $color-blue-hover, $color-purple);
    font-weight: 600;
  }
}

button.ct-disabled {
  @include button-theme($color-white, $color-blue-hover, $color-purple);
  pointer-events: none;
}
