.ct-switch {
  &__wrapper {
    position: relative;
    display: inline-block;
    width: 3.75rem;
    height: 2.125rem;
  }

  &__input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  &__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $color-light-grey;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 2.125rem;
  }

  &__slider:before {
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: $color-white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
  }

  &__input:checked + &__slider {
    background-color: $color-blue;
  }

  &__input:focus + &__slider {
    box-shadow: 0 0 1px $color-blue;
  }

  &__input:checked + &__slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
}
